/*clear*/
.f-clearFix:after{ content:''; display:block; height:0; line-height:0; font-size:0; visibility:hidden; clear:both;}
.f-clearFix{ *zoom:1;}

/*text*/
.f-tr{ text-align:right;}
.f-tl{ text-align:left;}
.f-tc{ text-align:center;}
.f-ft12{ font-size:12px;}
.f-ft14{ font-size:14px;}
.f-ft16{ font-size:16px;}
.f-ft18{ font-size:18px;}
.f-ft20{ font-size:20px;}
.f-ft24{ font-size:24px;}
.f-ft32{ font-size:32px;}
.f-t5{ text-indent:5px;}
.f-t10{ text-indent:10px;}
.f-t20{ text-indent:20px;}
.f-lh18{ line-height:18px;}
.f-lh20{ line-height:20px;}
.f-lh22{ line-height:22px;}
.f-lh24{ line-height:24px;}
.f-lh26{ line-height:26px;}
.f-lh28{ line-height:28px;}
.f-lh30{ line-height:30px;}
.f-lh40{ line-height:40px;}
.f-tdu{ text-decoration:underline;}
.f-fwb{ font-weight:bold;}
.f-fwn{ font-weight:normal;}
.f-wsn{ white-space:nowrap;}

/*color*/
.f-c-w{ color:white;}
.f-c-r{ color:#C33742;}
.f-c-g{ color:green;}
.f-c-b{ color:blue;}
.f-c-y{ color:yellow;}
.f-c-o{ color:orange;}
.f-c-p{ color:pink;}
.f-c-3{ color:#333;}
.f-c-6{ color:#666;}
.f-c-9{ color:#999;}
.f-c-c{ color:#ccc;}

/*layout*/
.f-w{ width:100%;}
.f-h{ height:100%;}
.f-fl{ float:left;}
.f-fr{ float:right;}
.f-pr{ position:relative;}
.f-pa{ position:absolute;}
.f-dn{ display:none;}
.f-db{ display:block;}
.f-dib{ display:inline-block;}
.f-ofh{ overflow:hidden;}
.f-vam{ vertical-align:middle;}
.f-vat{ vertical-align:top;}
.f-vab{ vertical-align:bottom;}
.f-auto{ margin-left: auto; margin-right: auto;}

/*padding*/
.f-p5{padding:5px}
.f-p10{padding:10px}
.f-p15{padding:15px}
.f-p20{padding:20px}
.f-p30{padding:30px}
.f-pt5{padding-top:5px}
.f-pt10{padding-top:10px}
.f-pt15{padding-top:15px}
.f-pt20{padding-top:20px}
.f-pt25{padding-top:25px}
.f-pt30{padding-top:30px}
.f-pt35{padding-top:35px}
.f-pt40{padding-top:40px}
.f-pt50{padding-top:50px}
.f-pr5{padding-right:5px}
.f-pr10{padding-right:10px}
.f-pr15{padding-right:15px}
.f-pr20{padding-right:20px}
.f-pr25{padding-right:25px}
.f-pr30{padding-right:30px}
.f-pr35{padding-right:35px}
.f-pr40{padding-right:40px}
.f-pr50{padding-right:50px}
.f-pb5{padding-bottom:5px}
.f-pb10{padding-bottom:10px}
.f-pb15{padding-bottom:15px}
.f-pb20{padding-bottom:20px}
.f-pb30{padding-bottom:30px}
.f-pb35{padding-bottom:35px}
.f-pb40{padding-bottom:40px}
.f-pb50{padding-bottom:50px}
.f-pl-5{padding-left:5px}
.f-pl-10{padding-left:10px}
.f-pl-15{padding-left:15px}
.f-pl-20{padding-left:20px}
.f-pl-25{padding-left:25px}
.f-pl-30{padding-left:30px}
.f-pl-35{padding-left:35px}
.f-pl-40{padding-left:40px}
.f-pl-50{padding-left:50px}
.f-mt5{margin-top:5px}
.f-mt10{margin-top:10px}
.f-mt15{margin-top:15px}
.f-mt20{margin-top:20px}
.f-mt25{margin-top:25px}
.f-mt30{margin-top:30px}
.f-mt35{margin-top:35px}
.f-mt40{margin-top:40px}
.f-mt45{margin-top:45px}
.f-mt50{margin-top:50px}
.f-mr5{margin-right:5px}
.f-mr10{margin-right:10px}
.f-mr15{margin-right:15px}
.f-mr20{margin-right:20px}
.f-mr25{margin-right:25px}
.f-mr30{margin-right:30px}
.f-mr35{margin-right:35px}
.f-mr40{margin-right:40px}
.f-mr45{margin-right:45px}
.f-mr50{margin-right:50px}
.f-mb5{margin-bottom:5px}
.f-mb10{margin-bottom:10px}
.f-mb15{margin-bottom:15px}
.f-mb20{margin-bottom:20px}
.f-mb25{margin-bottom:25px}
.f-mb30{margin-bottom:30px}
.f-mb35{margin-bottom:35px}
.f-mb40{margin-bottom:40px}
.f-mb50{margin-bottom:50px}
.f-ml-5{margin-left:5px}
.f-ml-10{margin-left:10px}
.f-ml-15{margin-left:15px}
.f-ml-20{margin-left:20px}
.f-ml-25{margin-left:25px}
.f-ml-30{margin-left:30px}
.f-ml-35{margin-left:35px}
.f-ml-40{margin-left:40px}
.f-ml-50{margin-left:50px}