
.icon-1{ width: 80px; height: 80px; background-position: 0px -170px;}


.icon-2{ width: 80px; height: 80px; background-position: -90px -170px;}


.icon-3{ width: 80px; height: 80px; background-position: -180px -170px;}


.icon-4{ width: 80px; height: 80px; background-position: -330px 0px;}


.icon-harts{ width: 40px; height: 32px; background-position: -330px -193px;}


.icon-ico_search{ width: 36px; height: 36px; background-position: -330px -147px;}


.icon-img{ width: 320px; height: 160px; background-position: 0px 0px;}


.icon-share_p{ width: 47px; height: 47px; background-position: -330px -90px;}

