<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>lessCss</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>

<body>

<div class="g-wrap m-test"></div>

<button id="j-open">打开新窗口</button>

<p>斯蒂芬斯蒂芬森防，撒旦发射点发地方爱的，阿萨德法撒旦法斯蒂芬斯蒂芬森防，撒旦发射点发地方爱的，阿萨德法撒旦法斯蒂芬斯蒂芬森防，撒旦发射点发地方爱的，阿萨德法撒旦法</p>
<ul class="m_nav">
    <li class="cur"><a href="#">首页&amp;</a></li>
    <li><a href="#">作者投稿</a></li>
    <li><a href="#">专家审稿</a></li>
    <li><a href="#">期刊介绍</a></li>
    <li><a href="#">编委会成员</a></li>
    <li><a href="#">期刊介绍</a></li>
    <li><a href="#">关于我们</a></li>
    <li><a href="#">联系我们</a></li>
</ul>

<label class="u_checkbox">
    <input type="checkbox">
    <span class="ico"><i></i></span>
</label>

</body>
</html>