<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>lessCss</title>
    <link rel="stylesheet" href="../src/css/index.css">
</head>

<body>

<button id="j-open" class="u-button">打开新窗口</button>

<div class="m-nav">
    <h3>nav</h3>
</div>

<label class="u-checkbox">
    <input type="checkbox">
    <span class="ico"><i></i></span>
</label>

<img src="../src/images/mask2.png">

<div class="u-img f-fl"></div>

<script src="../src/js/bundle/index.js"></script>
</body>
</html>